apiVersion: v1
kind: Secret
metadata:
  name: icd-secrets
  namespace: {{YOUR_NAMESPACE}}
type: Opaque
stringData:
  BOOTSTRAP_SERVERS: kafka:9092
  MONGODB_REPLICA_HOSTNAMES: {{MONGO_HOSTNAME}}:{{MONGO_PORT}}
  MONGODB_REPLICA_SET: rplset
  MONGODB_DBNAME: food-delivery-{{INITIALS}}
  MONGODB_AUTH_DBNAME: admin
  MONGODB_CA_PATH: icd.pem
  MONGODB_USER: {{MONGO_USERNAME}}
  MONGODB_PASSWORD: {{MONGO_PASSWORD}}